{{> header }}
    {{#block "head"}}
    <!-- default content for the head block -->
    <!-- build:css(.tmp) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/app.css -->
    <link rel="stylesheet" href="styles/app.css">
    <!-- endbuild -->
    {{/block}}
</head>
<body>
    <!--[if lt IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{{body}}}

    {{#block "scripts"}}
    <!-- default content for the scripts block -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/app.js -->
    <script type="text/javascript" src="scripts/app.js"></script>
    <!-- endbuild -->
    {{/block}}

{{> footer }}